.spinner {
    animation: rotate 2s linear infinite;
    width: 20px;
    height: 20px;
    
    & .path {
      stroke: hsl(210, 70, 75);
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
    
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }

/* Scrollbar Styles */
.custom-scrollbar {
  /* Width of the scrollbar */
  scrollbar-width: thin; /* "auto" hides scrollbar until hovered */
  scrollbar-color: #888 #f1f1f1; /* color of the handle and track */

/* Scrollbar Styles */


/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the scrollbar handle */
  border-radius: 4px; /* roundness of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar handle on hover */
}

}
